.j-suggestags-area .j-suggestags-input-area {
	background-color: transparent;
	text-align: left;
	height: auto;
	max-width: 400px;
	word-wrap: break-word;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	border: 0;
}

.j-suggestags-area .j-suggestags-input-area:hover {
	cursor: text;
}

.j-suggestags-area .j-suggestags-input-area .j-suggestags-input {
	font-size: 100%;
	margin: 0;
	padding: 4px;
	border: 0;
	background-color: transparent;
	color: #ccc;
	word-wrap: break-word;
	display: inline-block;
}

.j-suggestags-area .j-suggestags-input-area .j-suggestags-input:focus {
	outline: 0;
}

.j-focus {
	border-color: #222;
	outline: 0;
}

.j-focus-light {
	border-color: blue;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
		0 0 8px rgba(189, 189, 189, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
		0 0 8px rgba(189, 189, 189, 0.6);
}

.j-suggestags-area .j-suggestags-label {
	cursor: pointer;
	min-height: 20px;
	display: grid;
}

.j-toggle-suggestags {
	float: right;
	cursor: pointer;
}

.j-suggestags-area .j-suggestags-list {
	display: none;
	position: absolute;
	background: #222;
	border: 1px solid #111;
	z-index: 98;
	width: 100%;
	min-width: 250px;
}

.j-suggestags-area .j-suggestags-list ul.j-list {
	position: relative;
	list-style: none;
	padding: 3px 0px;
	max-height: 150px;
	overflow-y: auto;
	width: auto;
}

.j-suggestags-area .j-suggestags-list ul.j-list li.j-list-item {
	text-align: left;
	cursor: pointer;
	padding: 0px 10px;
}

.j-suggestags-area .j-suggestags-list ul.j-list li.j-list-item:active {
	background: #222;
	color: white;
	-moz-box-shadow: inset 0 0 10px #000000;
	-webkit-box-shadow: inset 0 0 10px #000000;
	box-shadow: inset 0 0 10px #000000;
}

.j-suggestags-area .j-suggestags-list ul.j-list li.j-list-group {
	text-align: left;
	padding: 0px 10px;
	font-weight: bold;
}

.j-suggestags-area .j-suggestags-list ul.j-list li.j-item-pad {
	padding-left: 30px;
}

.j-suggestags-area .j-suggestags-list ul.j-list li.j-item-noresult {
	display: none;
	color: #ff6060;
	font-weight: bold;
	text-align: center;
}

.j-suggestags-area .j-suggestags-list .j-select-input {
	display: none;
}

.j-suggestags-area .j-suggestags-list ul.j-list li.active {
	background: #222;
}

.j-suggestags-area .j-suggestags-list ul.j-list li.j-item-pad.active {
	font-weight: normal;
}

.j-suggestags-input-area .j-select-tag,
.j-suggestags-input-area .j-plus-tag {
	padding: 5px 7px;
	margin: 0px 4px 4px 0px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	display: inline-block;
	position: relative;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.j-select-tag {
	font-family: fn-bold !important;
}

.j-suggestags-input-area .j-select-tag.col-bg {
	margin-top: 3px;
	background: #000;
	color: #007fff;
	font-size: 0.9rem;
}

.j-suggestags-input-area .j-plus-tag .show-plus-bg {
	background: #000;
	color: white;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

.j-suggestags-input-area .j-select-tag:hover {
	background: #000;
	color: #6cb4ee;
	cursor: pointer;
}

.js_cardTagsWrapper .j-select-tag.col-bg {
	background: rgba(0, 0, 0, 0.25);
	border: 1px solid transparent;
	-webkit-border-radius: 0.175rem;
	-moz-border-radius: 0.175rem;
	border-radius: 0.175rem;
	line-height: 0.9em;
}

.js_cardTagsWrapper .j-select-tag.col-bg:hover {
	background: rgba(0, 0, 0, 0.75);
	border: 1px solid #000;
}

.j-suggestags-input-area .flash.j-select-tag {
	background-color: #444;
	-webkit-transition: background-color 200ms linear;
	-ms-transition: background-color 200ms linear;
	transition: background-color 200ms linear;
}

.j-suggestags-input-area .j-remove-tag {
	cursor: pointer;
}

.j-suggestags-input {
	background-color: #000;
}

.j-no-suggestion {
	display: none;
	opacity: 0.7;
}
